.search {
    background-image: url('../images/search.png')!important; 
    background-repeat: no-repeat!important; 
    background-position: right!important; 
    padding-right: 44px!important; 
    height: 40px;
    background-color: #efefef
    /*outline: none;*/
}